<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>919506372649-ec57v4g6n822sq37ivb72g5c8slmh61h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.919506372649-ec57v4g6n822sq37ivb72g5c8slmh61h</string>
	<key>API_KEY</key>
	<string>AIzaSyBqJ7Aan72yxl_iH8xwi6wN4u4j7g8a1lI</string>
	<key>GCM_SENDER_ID</key>
	<string>919506372649</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flungry</string>
	<key>PROJECT_ID</key>
	<string>flungry</string>
	<key>STORAGE_BUCKET</key>
	<string>flungry.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:919506372649:ios:d61f07483609af1a6a3438</string>
</dict>
</plist>